@media screen and (max-width: 480px){
    #name {
        font-size: 40px;
    }

    #scratch {
        font-size: 20px;
    }

    #special {
        font-size: 15px;
    }

    a {
        font-size: 16.3px;
    }

    #image1 {
        width: 90vw;
        max-width: 90%;
        align-content: center;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    p {
        text-align: center;
    }

    li {
        text-align: center;
    }
}

@media screen and (min-width: 481px){

    #name {
        font-size: 60px;
    }

    #scratch {
        font-size: 30px;
    }

    #special {
        font-size: 20px;
    }

    #image1 {
        width: 90vw;
        max-width: 90%;
        align-content: center;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    a{
        font-size: 20px;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

    h3 {
        font-size: 35px;
        font-weight: bold;
    }

    h4 {
        font-size: 30px;
        font-weight: bold;

    }

    li {
        font-size: 20px;
    }
}
@media screen and (min-width: 1000px) {
    #container {
        max-width: 1000px;
    }
}